<div class="container">
  <div class="header">
    <h2>Choisissez la date et l’horaire de votre rendez-vous médical</h2>
  </div>

  <div class="body">
    <div class="calendar-container">
      <!-- Barre de navigation mois -->
      <div class="calendar-header-wrapper">
        <button (click)="moisPrecedent()" class="nav-arrow nav-left">‹</button>
        <h3>{{ selectedDate | date: 'LLLL yyyy':'':'fr' }}</h3>
        <button (click)="moisSuivant()" class="nav-arrow nav-right">›</button>
      </div>

      <!-- Calendrier Angular -->
      <mwl-calendar-month-view
        [viewDate]="selectedDate"
        (dayClicked)="selectDate($event.day.date)"
        [locale]="'fr'"
        [weekStartsOn]="1"
        [activeDayIsOpen]="false">
      </mwl-calendar-month-view>
    </div>

    <!-- Affichage des créneaux -->
    <div class="slots-container" *ngIf="selectedDate">
      <h4>Créneaux disponibles - {{ selectedDate| date:'fullDate':'':'fr' }}</h4>

      <div *ngIf="listeDeSlots.length > 0; else aucunCreneau" class="slots">
        <button
          *ngFor="let slot of listeDeSlots"
          class="slot-btn"
          [ngClass]="{ 'reserved': slot.status=='reserve', 'disponible':  slot.status=='disponible' }"
          (click)="selectCreneau(slot.time)">
          {{ slot.time }}
        </button>
      </div>

      <ng-template #aucunCreneau>
        <p>Aucun créneau disponible ce jour.</p>
      </ng-template>
    </div>

    <!-- Boutons bas -->
    <div class="bottom-buttons">
      <button class="btn btn-primary white-bg" (click)="retourMotif()">← Précédent</button>
      <button class="btn btn-primary" (click)="allerSuivant()">Suivant →</button>
    </div>
  </div>
</div>
