.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  box-sizing: border-box;
}

/* .stats-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  color: white;
  width: 100%;
  max-width: 100%;
  min-width: 240px;
  height: 120px;
 margin: 0 auto;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  box-sizing: border-box;
  flex: 1 1 280px;
} */

.stats-card {
  display: flex;
  align-items: center;
 background: linear-gradient(to right, #8fbdef, #1437a1);
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #f1ecec;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  flex: 1 1 300px; /* grandit jusqu’à 1, base 300px */
  min-width: 240px;
  max-width: 100%; /* important pour les petits écrans */
  height: 120px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 auto;
   color: white;
   position: relative;
   top: 20px;
}



/* Variante bleue */
/* .stats-card.blue {
  background: linear-gradient(to right, #8fbdef, #1437a1);
} */

.stats-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Icône */
.stats-card i {
  font-size: 40px;
  margin-right: 16px;
  flex-shrink: 0;
  color: white;
  position: relative;
  top: -10px;
}

/* Zone de texte */
.stats-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Titre */
.stats-title {
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Valeur */
.stats-value {
  font-size: 32px;
  font-weight: bold;
  margin-top: 6px;
}

/* TABLETTES */
@media (max-width: 768px) {
  .stats-card {
    padding: 16px;
    flex: 1 1 100%;
  }

  .stats-card i {
    font-size: 30px;
    top: -6px;
  }

  .stats-title {
    font-size: 18px;
  }

  .stats-value {
    font-size: 26px;
  }
}

/* MOBILES */
@media (max-width: 480px) {
  .stats-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 14px;
  }

  .stats-card i {
    font-size: 26px;
    margin-bottom: 10px;
    margin-right: 0;
    top: 0;
  }

  .stats-content {
    align-items: flex-start;
  }

  .stats-title {
    font-size: 16px;
  }

  .stats-value {
    font-size: 22px;
  }
}
