<div class="container">
  <h1>RÉINITIALISATION DU MOT DE PASSE</h1>
  <p>Entrez et confirmez votre nouveau mot de passe</p>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" *ngIf="!successMessage">
    <div class="input-group">
      <label for="newPassword">Nouveau mot de passe <span class="required">*</span></label>
      <div class="input-with-icon">
        <input id="newPassword" type="password" formControlName="newPassword" placeholder="Entrez votre nouveau mot de passe">
        <!-- Icône Bootstrap pour afficher/masquer le mot de passe -->
        <i class="bi bi-eye-slash" (click)="togglePasswordVisibility('newPassword')"></i>
      </div>
    </div>

    <div class="input-group">
      <label for="confirmPassword">Confirmer le mot de passe <span class="required">*</span></label>
      <div class="input-with-icon">
        <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirmez votre mot de passe">
        <!-- Icône Bootstrap pour afficher/masquer le mot de passe -->
        <i class="bi bi-eye-slash" (click)="togglePasswordVisibility('confirmPassword')"></i>
      </div>
    </div>

    <button type="submit" [disabled]="isSubmitting">
      {{ isSubmitting ? 'En cours...' : 'Mettre à jour le mot de passe' }}
    </button>
  </form>
  <div *ngIf="successMessage" class="success">
    <p>{{ successMessage }}</p>
  </div>
  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>
</div>
