<div class="container mt-4">


  <div class="card p-4">

 <h2 class="text-center mb-4">Récapitulatif de votre rendez-vous</h2>

    <h5>Motif</h5>
    <span>{{ motif }}</span>
    <hr />

    <h5>Médecin</h5>
    <ul>
      <li>{{ medecin?.nom }} {{ medecin?.prenom }}</li>
      <li>{{ medecin?.specialite }}</li>
      <li>{{ medecin?.clinique }}</li>
    </ul>
    <hr />

    <h5>Date et Heure</h5>
    <span>
      {{ creneau?.dateSelectionne | dateStringToDate | date : "EEEE d MMMM yyyy" : "" : "fr" }}
      à {{ creneau?.slot.time }}
    </span>
    <hr />

    <h5 class="lieu">Lieu</h5>
    <span class="lieu">{{ medecin?.localisation }}</span>
    <hr />

    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-primary white-bg" (click)="retour()">← Précédent</button>
      <button class="btn btn-primary" (click)="confirmer()">Confirmé <span class="black-check"> ✓</span></button>
    </div>
  </div>
</div>

